.page{
    max-width: 450px;
    margin: auto;
    height: 100vh;
    background: #F5CB58;
    display: flex;
    justify-content: center;
}
.img{
    margin-top: 30px;
    height: 98vh;
    width: 450px;
    bottom: 0px;
}