.react-modal-sheet-container {
    height: 330px !important;
    background: #fff;
    border-top-right-radius: 28px !important;
    border-top-left-radius: 28px !important;
    position: fixed !important;
    top: 63%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    opacity: 0;
    animation: fadeIn 1.5s forwards;
    bottom: 0;
}

.Content {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: 0;
    transform: translateY(20px);
    animation: slideUpFadeIn 1s ease-in-out forwards;
    margin-top: 0px;
    top: 0px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slideUpFadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.icon {
    width: 40px;
    height: 45px;
    margin-top: -50px;
    margin-bottom: 8px;
}

.text {
    color: #E95322;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 700px;
    margin-bottom: 6px;

}

.pr {
    font-family: "Inter", sans-serif;
    line-height: 20px;
    font-size: 16px;
    text-align: center;
    margin-bottom: 6px;

}

.stepper {
    color: #E95322;
    margin-top: -15px;
}

.next {
    width: 150px;
    height: 40px;
    background: #E95322;
    color: #fff;
    font-family: "Inter", sans-serif;
    border: none;
    border-radius: 22px;
    font-size: 20px;
    font-weight: 300;
    cursor: pointer;
}