.page {
    max-width: 450px;
    margin: auto;
    height: 100vh;
    background: #FF642F;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    overflow: hidden;
}

.logoWelcome {
    margin-top: 50%;
    height: 180px;
    width: 180px;
    margin-bottom: 10px;
    animation: zoomIn 1.5s ease-in-out forwards, fadeInUp 1.5s ease-in-out;
}

.title {
    font-family: "Poppins", sans-serif;
    color: #fff;
    text-align: center;
    animation: fadeInUp 1.5s ease-in-out forwards;
}

.span {
    color: #F5CB58;
}

.paragraph {
    font-family: "League Spartan", sans-serif;
    color: #fff;
    margin-top: 20px;
    line-height: 22px;
    font-size: 16px;
    font-weight: 600;
    animation: fadeInUp 1.5s ease-in-out forwards;

}

.btn1, .btn2 {
    color: #FF642F;
    border: none;
    border-radius: 18px;
    width: 200px;
    height: 40px;
    font-size: 24px;
    opacity: 0;
    animation: fadeInUp 1.5s ease-in-out 1.5s forwards;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.btn1 {
    background: #F5CB58;
    margin-top: 38px;
}

.btn2 {
    background: #F3E9B5;
    margin-top: 10px;
}

.btn1:hover, .btn2:hover {
    transform: translateY(-5px);
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(26px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes zoomIn {
    0% {
        transform: scale(0.8);
    }

    100% {
        transform: scale(1);
    }
}